table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

h {
    font-size: 32;
    font-family: arial, sans-serif;
}

button {
    font-size: 32;
    margin-top: 18px;
    font-family: arial, sans-serif;
}